.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center products within the container */
}

.product {
    position: relative; /* Ensures stock labels are positioned relative to the product */
    padding: 20px;
    margin: 20px;
    width: 340px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product button {
    text-align: center;
    border-radius: none;
    width: 100%; /* Ensure the button takes full width of its container */
}

.product img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    transition: transform 0.3s ease; 
}

.product img:hover {
    transform: scale(1.2);
} 

.product i {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    font-size: 24px;
    cursor: pointer;
}

.product h5, .product p {
    margin: 15px 0;
    text-align: center; /* Center-align text for better visibility */
}

.product .stock, .product .outofStock {
    position: absolute;
    top: 10px;
    left: 10px; /* Position stock status on the left */
    padding: 5px;
    border-radius: 3px;
    z-index: 5;
    color: white;
}

.product .stock {
    background-color: green;
}

.product .outofStock {
    background-color: rgb(220, 112, 112);
}
