<div class="product-container">
  <div class="product" *ngFor="let prod of filteredProducts">
    <i class="bi bi-heart"></i>
    <img [src]="prod.productMainImage" alt="Image of the product">
    <h5>{{ prod.productName }}</h5>
    <p>{{ prod.productPrice | currency:'INR' }}</p>
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-outline-dark" (click)="navigateToProductView(prod.productId)">View Product</button>
      </div>
    </div>
  </div>
</div>
