.container {
    height: 70vh;
    margin-top: 20vh;
}

.product-name {
    font-size: 24px;
}

.product-name .label-stock {
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: white;
    float: right;
}

.selling-price {
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-right: 8px;
}

.btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}

.btn1:hover {
    background-color: black;
    color: white;
}

.size-btn:hover {
    background-color: black;
    color: white;
}

.size-btn:focus {
    background-color: black;
    color: white;
}

.img-style:hover {
    transform: scale(2);
}