.container{
    height: 60vh;
    margin-top: 15vh;
}

.product-view .product-name{
    font-size: 24px;
    color:black;
}

.product-view .selling-price{
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-right: 8px;
}

.product-view .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}

.product-view .btn1:hover{
    background-color: black;
    color: white;
}

.product-view .input-quantity{
    border: 1px solid black;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    text-align: center;
    padding: 7px;
}
