img{
    width:100%;
}

i{
    cursor: pointer;
    font-size: 25px;
}

span{
    font-size: 22px;
    font-family: monospace;
    font-weight: bold;
}

.card-title{
    font-weight: bolder;
}

.cartItems{
    margin-top: 150px;
}

.emptycart{
    height:60vh;
}

.emptycart i{
    font-size: 200px;
    cursor:auto;
}

.price{
    position: sticky;
    top:100px;
}

