<div class="login">
  <img src="../../assets/images/login_logo.jpg" alt="Login logo" /><span
    class="logo-text"
    >Login</span
  >
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-floating username">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">Email</label>
    </div>
    <div
      *ngIf="
        loginForm.get('email')?.touched && loginForm.get('email')?.invalid
      "
    >
      <small
        ><p><sup>*</sup>Email should be correct format</p></small
      >
    </div>
    <div class="form-floating password">
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
        autocomplete="off"
      />
      <label for="password">Password</label>
      <span class="eyeIcon">
        <i
          [ngClass]="{
            'bi bi-eye-slash-fill': !showPassword,
            'bi bi-eye-fill': showPassword
          }"
          (click)="togglePasswordVisibility()"
        ></i>
      </span>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="login-btn">
          <button
            class="btn btn-dark loginBtn"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="forgotPassword" >
          <a routerLink="/login/resetpassword">Forgot Password?</a>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 createAccount">
      <p>Need an account? <a routerLink="/login/register">Signup</a></p>
    </div>
  </div>
  
</div>

