<div class="first-container">
    <form class="form-style" [formGroup]="resetPassword">
        <h3 class="text-center">Reset Password</h3>
        <div class="form-floating valid-style">
            <input type="email" class="form-control" formControlName="email" placeholder="Email"
                (input)="getEmail($event)" required>
            <label for="floatingInput">Email</label>
            <small
                *ngIf="resetPassword.get('email')?.invalid && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty)">
                <p *ngIf="resetPassword.get('email')?.hasError('required')">*Email is required</p>
                <p *ngIf="resetPassword.get('email')?.hasError('pattern')">*Email should be valid Format</p>
            </small>
            <div >
                <small *ngIf="!message && resetPassword.get('email')?.dirty">*Unknown User. Please Signup</small>
            </div>
            <button type="submit" class="btn btn-dark btn-style" (click)="getOtp()" *ngIf="disableButton">Get OTP</button>
        </div>
        <div class="form-floating valid-style" *ngIf="message && pin">
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>
            <small
                *ngIf="resetPassword.get('otp')?.invalid && (resetPassword.get('otp')?.touched || resetPassword.get('otp')?.dirty)">
                <p *ngIf="resetPassword.get('otp')?.hasError('required')">*OTP is required</p>
                <p *ngIf="resetPassword.get('otp')?.hasError('pattern')">*OTP should be valid Format</p>
            </small>
        </div>
        <div *ngIf="viewPassword">
            <div class="form-floating valid-style">
                <input type="{{showPassword?'text':'password'}}" class="form-control" formControlName="newPassword"
                    placeholder="New Password" (input)="checkPasswordValid($event)"
                    (mousedown)="checkPasswordValid($event)" required>
                <span class="eyeIcon"><i class="bi bi-eye-fill" [ngClass]="{'bi bi-eye-fill':!showPassword , 
                'bi bi-eye-slash-fill':showPassword}" (click)="togglePasswordVisibility()"></i></span>
                <label for="floatingInput">New Password</label>
            </div>
            <p
                *ngIf="resetPassword.get('newPassword')?.invalid && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)">
            </p>
            <div class="password-style" *ngIf="passwordValidTextVisible">
                <p>Password must meet the following requirements</p>
                <div class="d-flex">
                    <p class="block" [ngClass]="{'text-success':minimumCharacter}">
                        - Minimum 8 characters </p>
                    <div class="ms-auto">
                        <i [ngClass]="{'text-success bi bi-check-circle-fill':minimumCharacter}"></i>
                    </div>`
                </div>
                <div class="d-flex">
                    <p class="block" [ngClass]="{'text-success':upperCase}">-
                        Atleast one Uppercase(A-Z) </p>
                    <div class="ms-auto"> <i [ngClass]="{'text-success bi bi-check-circle-fill':upperCase}"></i>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="block" [ngClass]="{'text-success':lowerCase}">-
                        Atleast one Lowercase(a-z) </p>
                    <div class="ms-auto">
                        <i [ngClass]="{'text-success bi bi-check-circle-fill':lowerCase}"></i>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="block" [ngClass]="{'text-success':digit}">-
                        Atleast one Digit(0-9) </p>
                    <div class="ms-auto">
                        <i [ngClass]="{'text-success bi bi-check-circle-fill':digit}"></i>
                    </div>
                </div>

                <div class="d-flex">
                    <p class="block" [ngClass]="{'text-success':specialCharacter}">
                        - Atleast one Special Character(!@#$%^&*) </p>
                    <div class="ms-auto">
                        <i [ngClass]="{'text-success bi bi-check-circle-fill':specialCharacter}"></i>
                    </div>
                </div>
            </div>
            <div class="form-floating valid-style">
                <input type="{{showConfirmedPass?'text':'password'}}" class="form-control"
                    formControlName="confirmNewPassword" placeholder="Confirm New Password" required>
                <span class="eyeIcon"><i class="bi bi-eye-fill" [ngClass]="{'bi bi-eye-fill':!showConfirmedPass , 
                    'bi bi-eye-slash-fill':showConfirmedPass}" (click)="toggleConfirmPasswordVisibility()"></i></span>
                <label for="floatingInput">Confirm New Password</label>
            </div>
            <small
                *ngIf="resetPassword.get('confirmNewPassword')?.invalid && (resetPassword.get('confirmNewPassword')?.touched || resetPassword.get('confirmNewPassword')?.dirty)">
                <p *ngIf="resetPassword.get('confirmNewPassword')?.hasError('required')">*Confirm Password is required
                </p>
                <p *ngIf="resetPassword.get('confirmNewPassword')?.hasError('notmatchPassword')">*Password and Confirm
                    Password does not match</p>
            </small>
        </div>

        <div>
            <button type="submit" class="col-md-10" (click)="onConfirm()" *ngIf="viewPassword">Confirm</button>
        </div>
    </form>
</div>