.first-container {
    margin: 30vh 70vh;
}

.form-style {
    width: 500px;
    height: 300px;
    padding: 30px;
    font-size: large;
}

button {
    margin: 10px;
    margin-left: 3.5vh;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    
}

.eyeIcon {
    position: absolute;
    top: 60%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}

.eyeIcon i {
    font-size: 25px;
}

small {
    color: red;
}

.valid-style {
    padding: 10px;
    position: relative;
}

.password-style {
    color: blue;
}

label {
    margin-left: 5px;
    margin-top: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
 
input[type="number"] {
  -moz-appearance: textfield;
}