<div class="footer-style">
    <div class="row footer-body-style">
        <div class="col-md-4">
            <h5>About us</h5>
            <p>By offering a user-friendly interface, curated
                tournament listings and a wide range of sports equipment and merchandise, our platform seeks to
                streamline the entire journey for sports enthusiasts- from discovering and registering for tournaments
                to purchasing necessary gear <br>- all in one convenient
                location</p>
        </div>
        <div class="col-md-4">
            <h5>Contact</h5>
            <p>
                <i class="bi bi-geo-alt"></i>
                40, 70 feet road, HAL 3rd stage, Whitefield road, Bengaluru, Karnataka-560038
            </p>
            <p><i class="bi bi-telephone"></i> {{'8399923638'|phoneFormat }} </p>
            <p><i class="bi bi-envelope"></i> info@sportsarena.com</p>
        </div>
        <div class="col-md-4">
            <h5>Follow Us</h5>
            <p><i class="bi bi-instagram"></i> sports_arena</p>
            <p><i class="bi bi-linkedin"></i> Sports Arena</p>
            <p><i class="bi bi-whatsapp"></i> {{'9378488839' | phoneFormat}}</p>
        </div>
    </div>
    <hr>
    <div class="text-center"> Copyright &copy;2024 All rights are reserved </div>
</div>