.product-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 300px;
    width: 100vw;
    height: 100vh;
   
  }
  
  .products-sidebar {
    width: 200px;
    padding: 20px;
    border: 1px solid;
    background-color: black;
    color: white;
    box-sizing: border-box;
  }
  .products-sidebar .form-check
  {
 margin: 10px;
  padding: 10px;
  }
  
  .product-catalog {
    display: flex;
    padding: 20px;
    width: 100vw;
    flex-direction: row;
    
  }
  
  .product {
    width: 400px;
    height: 400px;
    
  }
  .product img{
    width: 200px;
    height: 200px;
  }
  