.product-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 300px;
    width: 100vw;
    
   
  }
  
  .products-sidebar {
    width: 200px;
    padding: 20px;
    border: 1px solid;
    background-color: black;
    color: white;
    box-sizing: border-box;
  }
  .products-sidebar .form-check
  {
 margin: 10px;
  padding: 10px;
  }
  .product-list
  {
 margin-left: 100px;
  }
  
 
  

  