<app-header></app-header>
<div class="home">
    <div class="d-flex flex-row justify-content-around">
        <figure>
            <a href="#"><img src="../../assets/images/homeImages/kabaddi.avif" alt="kabaddi"></a> 
            <div class="text-center mt-2">
                <figcaption>Kabaddi</figcaption>
            </div>       
        </figure>
        <figure>
            <a href="#"><img src="../../assets/images/homeImages/cricket new.avif" alt="cricket"></a>
            <div class="text-center mt-2">
                <figcaption>Cricket</figcaption>
            </div>            
           </figure>
        <figure>
            <a href="#"><img src="../../assets/images/homeImages/football.avif" alt="football"></a>
            <div class="text-center mt-2">
                <figcaption>Football</figcaption>
            </div>            
           </figure>
        <figure>
            <a href="#"><img src="../../assets/images/homeImages/hockey.avif" alt="hockey"></a>
            <div class="text-center mt-2">
                <figcaption>Hockey</figcaption>
            </div>              
         </figure>
        <figure>
            <a href="#"><img src="../../assets/images/homeImages/gym.avif" alt="gym"></a>
            <div class="text-center mt-2">
                <figcaption>Gym</figcaption>
            </div>              
         </figure>
        <figure>
            <a href="#"><img src="../../assets/images/homeImages/kids.avif" alt="kids"></a>
            <div class="text-center mt-2">
                <figcaption>Kids</figcaption>
            </div>
        </figure>
        <figure>
            <a href="#"><img src="../../assets/images/homeImages/skate.avif" alt="skating"></a>
            <div class="text-center mt-2">
                <figcaption>Skating</figcaption>
            </div>       
        </figure>
    </div>

 <div class="carousel slide  carousel-fade" data-ride="carousel" id="CarouselControl">
    <ol class="carousel-indicators">
        <li data-bs-target="#CarouselControl" data-slide-to="0" class="active"></li>
        <li data-bs-target="#CarouselControl" data-slide-to="1" ></li>
        <li data-bs-target="#CarouselControl" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex flex-row">
            <img src="../../assets/images/homeImages/product-1.jpg" alt="Products" class="w-25  col-3 mt-5 pe-0 image1">
            <img src="../../assets/images/homeImages/product-2.jpg" alt="Products" class="w-50 col-6 image2">
            <img src="../../assets/images/homeImages/product-3.jpg" alt="Products" class="w-25  col-3 mt-5 ps-0 image3">
            </div>
            <div class="carousel-caption d-none d-md-block top-50 ">
                <h5 class="px-2">Complete your sports with our apparels</h5>
                <div class="text-center">
                  <a routerLink="product"><button class="btn btn-dark py-3 px-4 ">Shop Now</button></a>
                </div>    
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex flex-row">
            <img src="../../assets/images/homeImages/turf-1.jpg" alt="Products" class="w-25 h-75 col-3 mt-5 pe-0 image1">
            <img src="../../assets/images/homeImages/turf-2.jpg" alt="Products" class="w-50 col-6 image2">
            <img src="../../assets/images/homeImages/turf-3.jpg" alt="Products" class="w-25 h-75 col-3 mt-5 ps-0 image3">
            </div>
            <div class="carousel-caption d-none d-md-block  top-50 ">
                <h5 class="px-2">Play. Book. Repeat.</h5>
                <div class="text-center">
                <a href="#"><button class="btn btn-dark py-3 px-4">Book</button></a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
           <div class="d-flex flex-row">
            <img src="../../assets/images/homeImages/tournament-1.jpg" alt="Products" class="w-25 h-75 col-3 mt-5 pe-0 image1">
            <img src="../../assets/images/homeImages/tournament-2.jpg" alt="Products" class="w-50 col-6  image2">
            <img src="../../assets/images/homeImages/tournament-3.jpg" alt="Products" class="w-25 h-75 col-3 mt-5 ps-0 image3">
           </div>
            <div class="carousel-caption d-none d-md-block top-50">
                <h5 class="px-2">Get in the game</h5>
                <div class="text-center">
                <a routerLink="tournament"><button class="btn btn-dark py-3 px-4 ">Register</button></a>
                </div>
            </div>src/assets/images/homeImages src/assets/images/turf-3.jpg src/assets/images/turf-2.jpg src/assets/images/turf-1.jpg src/assets/images/tournament-3.jpg src/assets/images/tournament-2.jpg src/assets/images/tournament-1.jpg src/assets/images/skate.avif src/assets/images/registerformpic.jpg src/assets/images/product-3.jpg src/assets/images/product-2.jpg src/assets/images/product-1.jpg src/assets/images/login_logo.jpg src/assets/images/kids.avif src/assets/images/kabaddi.avif src/assets/images/hockey.avif src/assets/images/football.avif src/assets/images/cricket new.avif src/assets/images/cart-shoe.avif src/assets/images/cart-ball.avif
        </div>

        <a class="carousel-control-prev " href="#CarouselControl" role="button" data-slide="prev">
            <span><i class="bi bi-chevron-left previcon align-left" aria-hidden="true"></i></span>
        </a>
          
        <a href="#CarouselControl" class="carousel-control-next " role="button" data-slide="next">
            <span><i class="bi bi-chevron-right nexticon" aria-hidden="true"></i></span>
        </a>
    </div>
 </div>

</div>
<app-footer></app-footer>


