<div class="container">
  <h1 class="title text-center">Registration</h1>
  <div class="row my-5">
    <div class="col-md-6 my-5 Signup">
      <form [formGroup]="regForm" (ngSubmit)="submit()" autocomplete="off" (input)="disableValidError()">
        <p *ngIf="!isFormValid"><sup>*</sup>Enter Valid Details</p>
        <div class="row">
          <div class="col-md-6 form-floating">
              <input type="text" class="form-control mb-2" placeholder="Enter your First Name" id="Floatingfirstname" formControlName="firstName">
              <label for="Floatingfirstname" class="ms-2 pt-3"> First Name</label>
              <div *ngIf="registerFormControl['firstName'].invalid && (registerFormControl['firstName'].dirty || registerFormControl['firstName'].touched)">
                <p *ngIf="registerFormControl['firstName'].hasError('required')"><sup>*</sup>First Name must be given</p>
                <p *ngIf="registerFormControl['firstName'].hasError('pattern')"><sup>*</sup>Valid Name should be given</p>
                <p *ngIf="registerFormControl['firstName'].hasError('minlength') && !registerFormControl['firstName'].hasError('pattern')" ><sup>*</sup>Name should be atleast 3 characters</p>
                <p *ngIf="registerFormControl['firstName'].hasError('maxlength') && !registerFormControl['firstName'].hasError('pattern')" ><sup>*</sup>Name should be less than 15 characters</p>
              </div>
          </div>
          
          <div class="col-md-6 form-floating">
            <input type="text" class="form-control mb-2" placeholder="Enter your Last Name" id="Floatinglastname" formControlName="lastName">
            <label for="Floatinglastname" class="ms-2 pt-3">Last Name</label>
            <div *ngIf="registerFormControl['lastName'].invalid && (registerFormControl['lastName'].dirty || registerFormControl['lastName'].touched)">
              <p *ngIf="registerFormControl['lastName'].hasError('required')"><sup>*</sup>Last Name must be given</p>
              <p *ngIf="registerFormControl['lastName'].hasError('pattern')"><sup>*</sup>Valid Name should be given</p>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="col-md-6 form-floating">
               <input type="date" class="form-control my-2" id="FloatingDate" placeholder="Date Of Birth" formControlName="age">
               <label for="FloatingDate"class="m-2">Date Of Birth</label>
               <div *ngIf="registerFormControl['age'].invalid && (registerFormControl['age'].dirty || registerFormControl['age'].touched)">
                <p *ngIf="registerFormControl['age'].hasError('required')"><sup>*</sup>DOB should be given</p>
                <p *ngIf="regForm.hasError('lessthanToday')"><sup>*</sup>Date of birth should be less than today</p>
              </div>
            </div>
              <div class="col-md-6 my-2 form-floating">
                <select class="form-select form-lg" formControlName="gender" id="floatingGender" placeholder="gender">
                  <option value="" selected>---Select Gender---</option>
                  <option [value]="gender" *ngFor="let gender of userGender">{{gender}}</option>
                </select>
                <label for="floatingGender" class="ms-2">Gender</label>
                  <div *ngIf="registerFormControl['gender'].invalid && (registerFormControl['gender'].dirty || registerFormControl['gender'].touched)">
                    <p *ngIf="registerFormControl['gender'].hasError('required')"><sup>*</sup>Gender must be given</p>
                  </div>
              </div>
              </div>              

            <div class="col-md-12 form-floating">
              <input type="tel" class="form-control my-2" id="FloatingPhoneno" placeholder="123-456-7890" formControlName="phoneNumber" (input)="phoneNoMask($event)">
              <label for="FloatingPhoneno">Phone Number</label>
              <div *ngIf="registerFormControl['phoneNumber'].invalid && (registerFormControl['phoneNumber'].dirty || registerFormControl['phoneNumber'].touched)">
                <p *ngIf="registerFormControl['phoneNumber'].hasError('required')"><sup>*</sup>Phone Number must be given</p>
                <p *ngIf="registerFormControl['phoneNumber'].hasError('pattern')"><sup>*</sup>Phone Number must be number</p>
                <p *ngIf="registerFormControl['phoneNumber'].hasError('minlength') && !registerFormControl['phoneNumber'].hasError('pattern')"><sup>*</sup>Phone Number must be 10 digits</p>
              </div>



       
        <div class="col-md-12 form-floating">
            <input type="email" class="form-control my-2" id="FloatingEmail" placeholder="abc@example.com" formControlName="email" >
            <label for="FloatingEmail">Email</label>
            <div *ngIf="registerFormControl['email'].invalid && (registerFormControl['email'].dirty || registerFormControl['email'].touched)">
              <p *ngIf="registerFormControl['email'].hasError('required')"><sup>*</sup>Email must be given</p>
              <p *ngIf="registerFormControl['email'].hasError('pattern')"><sup>*</sup>Valid Email must be given</p>
            </div>
        </div>

    <div class="col-md-12 form-floating Password">
              <input type="{{showPassword? 'text':'password'}}" class="form-control my-2" id="FloatingPassword" placeholder="Password" formControlName="password"  (input)="checkPasswordValid()" (mousedown)="checkPasswordValid()">
              <label for="FloatingPassword">Password</label>
              <span class="icon"><i [ngClass]="{'bi bi-eye-slash-fill':!showPassword,'bi bi-eye-fill':showPassword}" (click)="toggleShowPassword()"></i></span>
    </div>
       <div *ngIf="registerFormControl['password'].invalid && (registerFormControl['password'].dirty || registerFormControl['password'].touched)" class="iconAlign">
            <p *ngIf="registerFormControl['password'].hasError('required')"><sup>*</sup>Password must be given</p>
            <p *ngIf="registerFormControl['password'].hasError('pattern')"><sup>*</sup>Password  does not meet the requirements</p>
        </div>

      <div *ngIf="passwordValidTextVisible" class="passwordValidation">
        <div class="d-flex">
             <p [ngClass]="{'text-success':isContainValidLength}">-Minimum 8 characters</p>
             <div class="ms-auto"><i [ngClass]="{'text-success bi bi-check-circle-fill':isContainValidLength}"></i></div>
         </div>

        <div class="d-flex">
             <p [ngClass]="{'text-success':isContainUppercase}">-Atleast one uppercase letter (A-Z)</p>
             <div class="ms-auto"><i [ngClass]="{'text-success bi bi-check-circle-fill':isContainUppercase}"></i></div>
        </div>
        <div class="d-flex">
            <p  [ngClass]="{'text-success':isContainLowercase}">-Atleast one lowercase letter (a-z)</p>
            <div class="ms-auto"><i [ngClass]="{'text-success bi bi-check-circle-fill':isContainLowercase}"></i></div>
        </div>
        <div class="d-flex">
            <p [ngClass]="{'text-success':isContainDigit}">-Atleast one digit (0-9) </p>
            <div class="ms-auto" ><i [ngClass]="{'text-success bi bi-check-circle-fill':isContainDigit}"></i></div>
        </div>
       <div class="d-flex">
             <p [ngClass]="{'text-success':isContainSplChar}">-Atleast one special character (!&#64;#$%^&*)</p>
             <div class="ms-auto"> <i [ngClass]="{'text-success bi bi-check-circle-fill':isContainSplChar}"></i> </div>
       </div>
      </div>

            <div class="col-md-12 Password form-floating">
                <input type="{{showConfirmPassword? 'text':'password'}}" class="form-control my-2" id="FloatingConfirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" >
                <label for="FloatingConfirmPassword">Confirm Password</label>
                <span class="icon"><i [ngClass]="{'bi bi-eye-slash-fill':!showConfirmPassword,'bi bi-eye-fill':showConfirmPassword}" (click)="toggleShowConfirmPassword()"></i></span>
            </div>
            <div *ngIf="registerFormControl['confirmPassword'].invalid && (registerFormControl['confirmPassword'].dirty || registerFormControl['confirmPassword'].touched)" class="iconAlign">
              <p *ngIf="registerFormControl['confirmPassword'].hasError('required')"><sup>*</sup>Confirm Password must be given</p>
              <p *ngIf="regForm.hasError('passwordMismatch') && !registerFormControl['confirmPassword'].hasError('pattern')"><sup>*</sup>Password and Confirm Password should match</p>
            </div>

          <div class="d-grid">
          <button class="btn btn-dark btn-lg p-3 mt-3 fs-4">Register</button>
          </div>
        </div>
        </form>
    </div>
    <div class="col-md-6 my-5 Image">
    </div>
  </div>
</div>