input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
 
input[type="number"] {
  -moz-appearance: textfield;
}
 
.icon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: larger;
}
 
input[type="radio"]:checked {
  background-color: black;
}
 
.Image {
  background-image: url("../../assets/images/registerformpic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
 
input:focus {
  border: 2px solid;
  box-shadow: none;
}
 
p {
  color: red;
}
 
.passwordValidation p {
  color: blue;
}
